/* GENERAL */
body {
    background-color: #3A1C9C;
    font-family: 'Geneva', sans-serif;
    color: white;
    margin: 0px;
}

h1 {
    font-family: 'Lucida Grande', serif;
    font-size: 3em;
    font-weight: 50;
    margin: 0em;
    padding: 0.3em;
    background-color: #170063;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #170063;
    justify-content: space-around;
    padding: 1.5em;
    margin: 0em;
    border: 0.07em solid #100045;
}

nav a {
    padding: 1.2em;
    border-radius: 1em;
    transition: all 250ms;
}


nav a:hover {
    background-color: #ffff33;
    color: #100045;
}

nav a, p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main :not(.white-thing) {
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    font-weight: bold; 
    margin-top: 3em;
 }
 
 h3 {
     margin-top: 3em;
 }

footer {
    display: flex;
    justify-content: center;
    background: #170063;
    padding: 0.7em;
    margin-top: 2em;
}

/* HOMEPAGE */
/* images */
.f-banner {
    width: 100vw;
    height: auto;
}

.f-together {
    width: 40vw;
    background-color: #170063;
    padding: 1em;
    border-radius: 1.5em;
}

.f-mia-alone {
    width: 30vw;
    background-color: #170063;
    padding: 1em;
    border-radius: 1.5em;
}

.f-seb-alone {
    width: 30vw;
    background-color: #170063;
    padding: 1em;
    border-radius: 1.5em;
}

.f-light {
    width: 40vw;
    background-color: #170063;
    padding: 1em;
    border-radius: 1.5em;
}

/* text */

.white-thing {
    color: #261268;
    font-weight: 500;
    background-color: #F8F4FF;
    padding: 1em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
}

section[class^=home] {
    display: flex;
    margin-top: 0em;
}

.homepage h2:nth-of-type(2) {
    text-align: center;
}

.home-mia, .home-symbolism {
    flex-direction: row-reverse;
}

h3:nth-of-type(2), .home-seb p {
    margin-left: 20vw;
}

/* SYMBOLISM */
/* images */

main img:not(.saxo-gif) {
    background-color: #170063;
    padding: 1em;
    border-radius: 1.5em;
}

.symb-shots img {
    height: 15vw;
    display: flex;
}

.saxo-gif {
    height: 7em;
}

/* text */

div {
    display:flex;
    justify-content: flex-start;

}

